<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Management</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

        body {
            margin-top: 20px;
        }

        .fa-fw {
            width: 2em;
        }

        form.fix {
            padding: 10px 10px 10px 15px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li>
                    <form class="fix" id="admin_page" method="get" action="/admin"><a href="javascript:{}"
                                                                                      onclick="document.getElementById('admin_page').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List User</a></form>
                </li>
                <li>
                    <form class="fix" id="list_post" method="get" action="/admin/listPostAdmin"><a href="javascript:{}"
                                                                                                   onclick="document.getElementById('list_post').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List Post</a></form>
                </li>
                <li>
                    <form class="fix" id="list_user" method="get" action="/admin/category"><a href="javascript:{}"
                                                                                              onclick="document.getElementById('list_user').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List Category</a></form>
                </li>
                <li>
                    <form class="fix" id="logout" method="get" action="/login"><a href="javascript:{}"
                                                                                  onclick="document.getElementById('logout').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>Log Out</a></form>
                </li>
                <!--                <li><a href="/categories"><i class="fa fa-pencil fa-fw"></i>Create Category</a>-->
                <!--                </li>-->
                <!--                <li><a href="/admin/movie?action=create"><i class="fa fa-pencil fa-fw"></i>?</a>-->
                <!--                </li>-->
            </ul>
        </div>
        <div class="col-md-9 well" th:object="${idUser}">
            <h1 th:text="${idUser.getName()} + ' `s Posts'" style="color: #4CAF50"></h1>
            <p>
            <form>
                <input type="text" placeholder="Type something..." name="search">
                <input type="submit" value="Search">
            </form>
            </p>
            <p>Total: <span style="color: blue" th:text="${countPost}"></span></p>
            <table width="100%" border="1" cellpadding="5">
                <tr>
                    <th>Title</th>
                    <th>User Name</th>
                    <th>Picture</th>
                    <th>Time</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="post: ${posts}">
                    <tr>
                        <td style="word-wrap: break-word" WIDTH="200px"><a
                                th:href="@{/admin/viewpost-admin/__${post.getPost_id()}__}"
                                th:text="${post.getTitle()}"></a></td>
                        <td th:text="${post.getUser().getName()}"></td>
                        <td style="width: 202px"><img width="200px" th:src="${post.getPostImage()}"
                                                      alt="Post's Picture"></td>
                        <td th:text="${post.getDate()}"></td>
                        <td><a th:href="@{/admin/viewpost-admin/__${post.getPost_id()}__}">Delete</a></td>
                    </tr>
                </th:block>
            </table>
            <div>
                <a th:href="@{'/admin/viewpageadmin/__${idUser.getId()}__'(page=${posts.number - 1})}"
                   th:if="${posts.hasPrevious()}" class="btn btn-info">Previous</a>
                <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
                <a th:href="@{'/admin/viewpageadmin/__${idUser.getId()}__'(page=${posts.number + 1})}"
                   th:if="${posts.hasNext()}" class="btn btn-info">Next</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>