<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/avatar" method="post" th:object="${user}"  enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{fullName}">

    <tr>
        <td>avatar:</td>
        <td><input type="file" accept="image/*" id="up_button" name="avatarFile" onchange="loadFile(event)">
            <img th:src="${user.getAvatar()}" alt="" id="output" width="20px">
            <input type="text" th:field="*{avatar}" hidden>
        </td>
    </tr>
    <input type="submit" value="edit">
</form>
</body>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</html>