<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category Management</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

        body {
            margin-top: 20px;
        }

        .fa-fw {
            width: 2em;
        }

        form.fix {
            padding: 10px 10px 10px 15px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li>
                    <form class="fix" id="admin_page" method="get" action="/admin"><a href="javascript:{}"
                                                                                      onclick="document.getElementById('admin_page').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List User</a></form>
                </li>
                <li>
                    <form class="fix" id="list_post" method="get" action="/admin/listPostAdmin"><a href="javascript:{}"
                                                                                                   onclick="document.getElementById('list_post').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List Post</a></form>
                </li>
                <li>
                    <form class="fix" id="list_user" method="get" action="/admin/category"><a href="javascript:{}"
                                                                                              onclick="document.getElementById('list_user').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List Category</a></form>
                </li>
                <li>
                    <form class="fix" id="logout" method="get" action="/login"><a href="javascript:{}"
                                                                                  onclick="document.getElementById('logout').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>Log Out</a></form>
                </li>
                <!--                <li><a href="/categories"><i class="fa fa-pencil fa-fw"></i>Create Category</a>-->
                <!--                </li>-->
                <!--                <li><a href="/admin/movie?action=create"><i class="fa fa-pencil fa-fw"></i>?</a>-->
                <!--                </li>-->
            </ul>
        </div>
        <div class="col-md-9 well">
            <h1>Category Manager</h1>
            <fieldset>
                <form method="post" th:object="${category}"  enctype="multipart/form-data">
                    <legend>Category Information</legend>
                    <table cellpadding="5">
                        <input type="hidden" th:field="*{id_category}"/>
                        <tr>
                            <th>Name:</th>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" th:field="*{name}">
                            </td>
                        </tr>
                        <tr>
                            <th>Icon:</th>
                        </tr>
                        <tr>
                            <td><input type="file" accept="image/*" id="up_button" name="iconCategoryFile" onchange="loadFile(event)"></td>
                            <!--                            <td><img width="80px" height="80px" th:src="${category.getIcon()}" alt="Category Icon"></td>-->
                        </tr>
                        <tr>

                            <td><img width="50%" id="output" th:src="${category.getIcon()}"/></td>
                        <tr>
                            <th><input type="submit" class="btn btn-success" value="Save"></th>
                        </tr>
                    </table>
                </form>
            </fieldset>
        </div>
    </div>
</div>
</body>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
</html>