<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        @import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

        body {
            margin-top: 20px;
        }

        .fa-fw {
            width: 2em;
        }

        form.fix {
            padding: 10px 10px 10px 15px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin"><i class="fa fa-home fa-fw"></i>Home</a></li>
                <li>
                    <form class="fix" id="admin_page" method="get" action="/admin"><a href="javascript:{}"
                                                                                      onclick="document.getElementById('admin_page').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List User</a></form>
                </li>

                <li>
                    <form class="fix" id="list_user" method="get" action="/admin/category"><a href="javascript:{}"
                                                                                              onclick="document.getElementById('list_user').submit(); return false;">
                        <i class="fa fa-list-alt fa-fw"></i>List Category</a></form>
                </li>
                <li>
                    <form class="fix" id="create-category" method="get" action="/admin/category/create"><a href="javascript:{}"
                                                                                                           onclick="document.getElementById('list_user').submit(); return false;">
                        <i class="fa fa-pencil fa-fw"></i>Create Category</a></form>
                </li>
                <li>
                    <form class="fix" id="logout" method="get" action="/login"><a href="javascript:{}"
                                                                                  onclick="document.getElementById('logout').submit(); return false;">
                        <i class="fa fa-sign-out fa-fw"></i>Log Out</a></form>
                </li>
                <!--                <li><a href="/categories"><i class="fa fa-pencil fa-fw"></i>Create Category</a>-->
                <!--                </li>-->
                <!--                <li><a href="/admin/movie?action=create"><i class="fa fa-pencil fa-fw"></i>?</a>-->
                <!--                </li>-->
            </ul>
        </div>
        <div class="col-md-9 well">
            <th:block th:if="${message}">
                <p style="color: green" th:text="${message}"></p>
            </th:block>
            <h1>User Manager</h1>
            <p>
            <form>
                <input type="text" placeholder="Type something..." name="s">
                <input type="submit" value="Search">
            </form>
            </p>
            <p>Total: <span style="color: blue" th:text="${countUser}"></span></p>
            <table border="1" cellpadding="5">
                <tr>
                    <th>User ID</th>
                    <th>Avatar</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Password</th>
                    <th>Status</th>
                    <th>Role</th>
                    <th colspan="2">Action</th>
                    <th colspan="2">Authorization</th>
                </tr>
                <th:block th:each="user: ${listUsers}">
                    <tr>
                        <td th:text="${user.getId()}"></td>
                        <td><img width="50px" height="50px" th:src="${user.getAvatar()}" alt="User's Avatar"></td>
                        <th><a th:href="@{/admin/viewpageadmin/__${user.id}__}"
                               th:text="${user.getName()}">></a></th>
                        <td th:text="${user.getFullName()}"></td>
                        <td th:text="${user.getPass()}"></td>
                        <td th:text="${user.getStatus()}"></td>
                        <td th:text="${user.role.role_name}"></td>
                        <td><a th:href="@{/admin/unBlockUser/__${user.getId()}__}" class="btn btn-warning">Unblock</a>
                        </td>
                        <td><a th:href="@{/admin/blockUser/__${user.getId()}__}" class="btn btn-danger">Block</a></td>
                        <td><a th:href="@{/admin/add-roleAdmin/__${user.getId()}__}" class="btn btn-success">Admin</a>
                        </td>
                        <td><a th:href="@{/admin/add-roleUser/__${user.getId()}__}" class="btn btn-success">User</a>
                        </td>
                    </tr>
                </th:block>
            </table>
            <div>
                <a th:href="@{'/admin'(page=${listUsers.number - 1})}" th:if="${listUsers.hasPrevious()}"  class="btn btn-info">Previous</a>
                <span th:text="${listUsers.number + 1}"></span>/<span th:text="${listUsers.totalPages}"></span>
                <a th:href="@{'/admin'(page=${listUsers.number + 1})}" th:if="${listUsers.hasNext()}"  class="btn btn-info">Next</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>