<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<a href="/login">login</a>

<!--Tac gia: The Phen`-->
<h4>== Category ==</h4>
<ul>
    <th:block th:each="category : ${categories}">
        <li>
            <a th:href="@{/home/timeline/category/__${category.getId_category()}__}"><span
                    th:text="${category.getName()}"></span></a>
        </li>
    </th:block>
</ul>

<table class="table" border="1px">
    <thead class="thead-dark">
    <tr>
        <th scope="col">title</th>
        <th scope="col">fullName</th>
        <th scope="col">Avatar</th>
        <th scope="col">Date</th>
        <th scope="col">Post</th>
    </tr>
    </thead>
    <th:block th:each="posts: ${listPost}">
        <tbody>
        <tr>
<!--            <td> <a th:href="@{/home/timeline/viewpost/__${posts.getPost_id()__}" th:text="${posts.getTitle()}">></a> </td>-->
            <td><a th:href="@{/home/timeline/viewpost/__${posts.getPost_id()}__}"  th:text="${posts.getTitle()}" ></a></td>

            <td th:text="${posts.getTitle()}" ></td>
            <td><img width="50px" th:src="${posts.getUser().getAvatar()}" alt=""></td>
            <td>
                <ins><a th:href="@{/home/timeline/viewpage/__${posts.getUser().getId()}__}" th:text="${posts.getUser().name}"></a></ins>
                <span th:text="${posts.getDate()}"></span>
            </td>
            <td>
                <img style="width: 50%" th:src="${posts.getPostImage()}" alt="">
            </td>
            <td>
                <p th:text="${posts.category.name}"></p>
            </td>
        </tr>
        </tbody>


    </th:block>
</table>
</body>
</html>