<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<a href="/user/myhome">myHome</a>


<table class="table" border="1px">
    <thead class="thead-dark">
    <tr>

        <th scope="col">title</th>
        <th scope="col">fullName</th>
        <th scope="col">Avatar</th>
        <th scope="col">Date</th>
        <th scope="col">Post</th>



    </tr>
    </thead>
    <th:block th:each="posts: ${listPost}">
        <tbody>
        <tr>
            <td th:text="${posts.getTitle()}" ></td>
            <td><img width="50px" th:src="${posts.getUser().getAvatar()}" alt=""></td>
            <td>
                <ins><a th:href="@{/home/timeline/search/__${posts.getUser().getId()}__}" th:text="${posts.getUser().name}"></a></ins>
                <span th:text="${posts.getDate()}"></span>
            </td>
            <td>
                <img th:src="${posts.getPostImage()}" alt="">
            </td>
            <td>
                <p th:text="${posts.category.name}"></p>
            </td>


            <!--            <td> <a th:href="@{#}" th:text="${user.getName()}">></a> </td>-->
            <!--            <td th:text="${user.getAvatar()}"></td>-->
            <!--            <td th:text="${user.getPass()}"></td>-->
            <!--            <td th:text="${user.getFullName()}"></td>-->
            <!--            <td th:text="${user.getStatus()}"></td>-->
            <!--            <td th:text="${user.role}"></td>-->


        </tr>
        </tbody>
    </th:block>
</table>


<a href="/login">login</a>
</body>
</html>