<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>myhome</title>
</head>
<body>
<form method="post" action="/user/createpost" th:object="${post}" enctype="multipart/form-data">
    <textarea th:field="*{title}" rows="2" placeholder="What do you feel today?"></textarea>
    <div class="attachments">
        <ul>

            <li>
                <i class="fa fa-image"></i>
                <label class="fileContainer">
                    <input type="file" name="postImageFile">
                </label>
            </li>
            <li>
                <select th:field="*{category}">
                    <option th:each="p : ${categorys}" th:value="${p.id_category}" th:text="${p.name}"></option>
                </select>
            </li>
            <li>
                <button type="submit">Post</button>
            </li>
        </ul>
    </div>
</form>



<table>
    <tr>
        <td>avatar</td>
        <td>name</td>
        <td>upFileAvatar</td>
    </tr>
    <tr>
        <td><img width="50px" th:src="${user.getAvatar()}" alt="" ></td>
        <td th:text="${user.getFullName()}"></td>

        <form class="edit-phto" th:action="@{/user/avatar}" method="post" enctype="multipart/form-data">
            <i class="fa fa-camera-retro"></i>
            <label class="fileContainer">
                Edit Display Photo
                <input type="file" name="avatar"/>
            </label>
            <!--									<input type="submit" value="submit" class="btn&#45;&#45;blue">-->
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </tr>
</table>

<table class="table" border="1px">
    <thead class="thead-dark">
    <tr>

        <th scope="col">title</th>
        <th scope="col">fullName</th>
        <th scope="col">Avatar</th>
        <th scope="col">Date</th>
        <th scope="col">Post</th>



    </tr>
    </thead>
    <th:block th:each="posts: ${myListPost}">
        <tbody>
        <tr>
            <!--            <td> <a th:href="@{/home/timeline/viewpost/__${posts.getPost_id()__}" th:text="${posts.getTitle()}">></a> </td>-->
<!--            <td><a th:href="@{/home/timeline/viewpost/__${posts.getPost_id()}__}"  th:text="${posts.getTitle()}" ></a></td>-->

            <td th:text="${posts.getTitle()}" ></td>
            <td><img width="50px" th:src="${posts.getUser().getAvatar()}" alt=""></td>
            <td>
<!--                <ins><a th:href="@{/home/timeline/search/__${posts.getUser().getId()}__}" th:text="${posts.getUser().name}"></a></ins>-->
                <span th:text="${posts.getDate()}"></span>
            </td>
            <td>
                <img style="width: 50%" th:src="${posts.getPostImage()}" alt="">
            </td>
            <td>
                <p th:text="${posts.category.name}"></p>
            </td>
            <td>
            <a th:href="@{/user/delete-post/__${posts.post_id}__}">delete</a>
<!--            <td><a th:href="@{/delete/__${book.id}__ }">Delete</a></td>-->

            </td>
        </tr>
        </tbody>
    </th:block>
</table>
</body>
</html>